:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus-visible {
  outline: none !important;
}

body {
  display: flex;
  place-items: center;
  justify-content: center;
  position: relative;
  max-width: 100vw;
  height: 100vh;
}

.status-border {
  height: 11.5rem;
  width: 11.5rem;
  display: flex;
  justify-content: center;
  place-items: center;
}

.trigger svg path,
body:has(.trigger) {
  stroke: #dc3444;
  animation: flash 3s infinite;
}

@keyframes flash {
  0% {
    background: #f5f5f5;
    stroke: #dc3444;
    color: #dc3444;
  }
  50% {
    background: #dc3444;
    stroke: #f5f5f5;
    color: #f5f5f5;
  }
  100% {
    background: #f5f5f5;
    stroke: #dc3444;
    color: #dc3444;
  }
}